{:paths ["src/clj" <% if cljs? %>
         "src/cljs" <% endif %>
         "resources"]

 :deps {org.clojure/clojure            {:mvn/version "1.11.1"}
        org.clojure/tools.logging      {:mvn/version "1.2.4"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.4"}

        clojure.java-time/clojure.java-time {:mvn/version "1.1.0"}
        metosin/reitit                      {:mvn/version "0.5.18"}

        metosin/ring-http-response    {:mvn/version "0.9.3"}
        ring/ring-core                {:mvn/version "1.9.5"}
        ring/ring-defaults            {:mvn/version "0.3.3"}
        luminus/ring-undertow-adapter {:mvn/version "1.2.6"} <% if frontend? %>

        ;; Frontend
        hiccup/hiccup            {:mvn/version "1.0.5"}
        luminus/ring-ttl-session {:mvn/version "0.3.3"} <% endif %>

        ;; Db
        org.postgresql/postgresql {:mvn/version "42.3.4"}
        migratus/migratus         {:mvn/version "1.4.0"}
        conman/conman             {:mvn/version "0.9.5"}
        cheshire/cheshire         {:mvn/version "5.10.2"}

        ;; Data coercion
        luminus-transit/luminus-transit {:mvn/version "0.1.5"
                                         :exclusions  [com.cognitect/transit-clj]}
        metosin/muuntaja                {:mvn/version "0.6.8"}

        integrant/integrant {:mvn/version "0.8.0"}
        aero/aero           {:mvn/version "1.1.6"}}
 :aliases
 {:build   {:deps       {io.github.seancorfield/build-clj
                         {:git/tag "v0.6.4" :git/sha "c21cfde"}}
            :ns-default build}
  :env/dev {:extra-deps {nrepl/nrepl                   {:mvn/version "0.9.0"}
                         refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                         com.lambdaisland/classpath    {:mvn/version "0.0.27"}
                         criterium/criterium           {:mvn/version "0.4.6"}
                         expound/expound               {:mvn/version "0.9.0"}
                         integrant/repl                {:mvn/version "0.3.2"}
                         pjstadig/humane-test-output   {:mvn/version "0.11.0"}
                         ring/ring-devel               {:mvn/version "1.9.5"}
                         ring/ring-mock                {:mvn/version "0.4.0"}
                         org.clojure/tools.namespace   {:mvn/version "1.2.0"}}

            :extra-paths ["env/dev/clj"
                          "env/dev/resources"
                          "test/clj" <% if cljs? %>

                          "target/classes/cljsbuild" <% endif %>]

            :main-opts ["-m" "nrepl.cmdline" "--middleware"
                        "[refactor-nrepl.middleware/wrap-refactor]" "-i"]}
  :env/cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.3"}}
              :main-opts  ["-m" "nrepl.cmdline" "--middleware"
                           "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]" "-i"]}

  :env/test {:extra-deps  {criterium/criterium                  {:mvn/version "0.4.6"}
                           expound/expound                      {:mvn/version "0.9.0"}
                           integrant/repl                       {:mvn/version "0.3.2"}
                           io.github.cognitect-labs/test-runner {:git/tag "v0.5.0"
                                                                 :git/sha "b3fd0d2"}
                           pjstadig/humane-test-output          {:mvn/version "0.11.0"}
                           ring/ring-devel                      {:mvn/version "1.9.5"}
                           ring/ring-mock                       {:mvn/version "0.4.0"}
                           org.clojure/tools.namespace          {:mvn/version "1.2.0"}
                           com.lambdaisland/classpath           {:mvn/version "0.0.27"}}
             :exect-fn    cognitect.test-runner.api/test
             :extra-paths ["env/dev/clj" "env/dev/resources" "env/test/resources" "test/clj"]
             :main-opts   ["-e" "(require 'pjstadig.humane-test-output) (pjstadig.humane-test-output/activate!)"
                           "-m" "cognitect.test-runner"]}}}
